@import '~bootstrap/scss/bootstrap';
$background-color: #99ff99;
$background-color-2: #9CA3DB;
$font-color: #fff;
$white: #fff;
$black: #000;
$success-color: #00ff00;
$failure-color: #ff0000;

body {
  background-attachment: fixed;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
  background-size: cover;
  color: $font-color;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
}

.sign-up-container {
  background-color: $background-color-2;
  border: 3px solid $white;
  font-size: 10px;
  height: 120px;
  left: 0;
  margin: 20px;
  // padding: auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: 450px;
}

.sign-out-container {
  background-color: $background-color-2;
  border: 3px solid $white;
  display: none;
  font-size: 10px;
  height: 120px;
  left: 0;
  margin: 20px;
  // padding: auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: 400px;
}

.create-song-container {
  background-color: $background-color-2;
  border: 3px solid $white;
  display: none;
  font-size: 10px;
  height: 245px;
  margin: 20px;
  // padding: auto;
  position: absolute;
  left: 0;
  text-align: center;
  top: 190px;
  width: 500px;
}

.create-genre-container {
  background-color: $background-color-2;
  border: 3px solid $white;
  display: none;
  font-size: 10px;
  height: 70px;
  margin: 20px;
  // padding: auto;
  position: absolute;
  left: 0;
  text-align: center;
  top: 490px;
  width: 500px;
}

.auth-message {
  font-size: 30px;
  left: 10px;
  position: absolute;
  top: 150px;
}

.resource-message {
  font-size: 30px;
  left: 10px;
  position: absolute;
  top: 150px;
}

.show-table {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -200px;
}
